* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
}
a {
  text-decoration: none;
}
body .all {
  width: 100%;
  max-width: 650px;
  min-height: 1000px;
  font-size: 16px;
  margin: 0% auto;
  background-color: rgb(44, 44, 44);
}
body .all .navheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid white;
  /* background-color: rgb(44, 44, 44); */
}
body .all .navheader .navheadertxt {
  display: flex;
  justify-content: space-between;

  font-size: 1.5em;
  align-items: center;
  /* background-color: white; */
}
body .all .navheader .navheadertxt i {
  margin-left: 0.3em;
  align-self: flex-end;
}
body .all .navheader .navheadericon {
  display: flex;
  justify-content: space-between;

  font-size: 1.9em;
  align-items: center;
}
body .all .navheader .navheadericon #plas {
  margin-right: 01em;
}
body .txtPerformans {
  /* background-color: rgb(44, 44, 44); */
  padding: 10px 10px;
  text-align: center;
  border-bottom: 1px solid white;
}
body .txtPerformans span {
  color: rgb(96, 96, 255);
}
body .imformation {
  /* background-color: rgb(44, 44, 44); */

  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .imformation .imformationicon {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}
body .imformation .imformationicon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body .imformation div {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  align-items: center;
}
body .caption {
  /* background-color: rgb(44, 44, 44); */
  font-size: 1.2em;
  padding: 0.3em;
}
body .editprobtn {
  /* background-color: rgb(44, 44, 44); */
  padding: 10px 0.3em 0px 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .editprobtn a {
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px 0.5em;
  padding: 0.3em;
}
body .btnsEmail {
  /* background-color: rgb(44, 44, 44); */
  display: flex;
  justify-content: center;
  padding: 0px 00.3em;
}
body .btnsEmail a {
  flex: 1;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.3em;
  margin: 0.5em 0.3em;
}
body .storis {
  /* background-color: rgb(44, 44, 44); */
  display: flex;
  align-items: center;
}
body .storis > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body .storis > div a {
  width: 7em;
  height: 7em;
  border: 0.1em solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 00.3em;

  padding: 3.8em;
}
body .storis div a img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
}
body .storis > div a i {
  font-size: 5em;
  font-family: fantasy;
  text-align: center;
  font-style: unset;
}
body .iconsPost {
  /* background-color: rgb(44, 44, 44); */
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0em 0em 0em;
}
body .iconsPost a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(96, 96, 255); */
  /* margin: 0px 0.2em; */
}
a.active,
body .iconsPost a:hover {
  border-bottom: 0.1em solid white;
  /*  */
}
body .iconsPost a img {
  width: 2em;
  padding: 0.5em 0;
  color: black;
}
body .posts {
  /* background-color: rgb(44, 44, 44); */
  display: grid;
  /* grid-template-columns: repeat(3, minmax(13.2em, 1fr)); */
  /* grid-auto-flow: dense; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3em;
  margin: 00.3em;
}

body .posts img {
  /* max-height: 13.2em; */
  width: 100%;
  height: 100%;
  /* background-color: violet; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-right: 1em; */
}
body .footer {
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1em 0.9em;
  width: 100%;
  max-width: 650px;

  /* width: 650px; */

  background-color: rgb(44, 44, 44);
}
body .footer a {
  /* background-color: rgb(96, 96, 255); */
  /* display: inline-block; */
  width: 3em;
  height: 3em;
}
body .footer a:hover img {
  background-color: white;
  mix-blend-mode: overlay;
}
body .footer a img {
  width: 100%;
  border-radius: 50%;
}

/* ......................................... */
@media screen and (max-width: 370px) {
  body .all {
    font-size: 10px;
  }
}
